
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <header class="cabecalho"><H2>MJV School</H2></header>
  <main>
    <section class="container">

      <div class="texto__centro">
        <h1>Lorem 1</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Porro asperiores eaque ad? Fuga dolor magnam laborum exercitationem reprehenderit sit id, impedit dolorum error porro in?</p>
      </div>
      <div class="texto__duplicado">
        <div class="texto__maior">
          <h2>Lorem 2</h2>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis culpa voluptatem minima itaque asperiores quaerat est id eos. Ratione soluta sit totam ex suscipit iusto saepe sint odit delectus accusantium distinctio itaque nemo, cupiditate omnis vero unde deserunt minima porro! Cupiditate officia dolorum, dignissimos pariatur saepe unde hic possimus animi.</p>
        </div>
        <div class="texto__maior">
          <h2>Lorem 2</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus fuga minima nemo doloremque quis quidem corrupti, alias ad et dolore? Laudantium officia optio esse iusto voluptatem. Ipsa, corporis vero placeat voluptatem accusamus consequuntur eligendi commodi numquam voluptates minus suscipit modi magni similique deleniti corrupti magnam accusantium dicta nihil a temporibus.</p>
        </div>
        <div class="texto__maior">
          <h2>Lorem 2</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas impedit ad at mollitia vero. Beatae, eos reiciendis! Velit esse eos sunt animi veritatis quisquam iste tenetur quia ullam quidem, enim dolorum culpa aperiam nobis! Fugiat error rerum perspiciatis aliquid necessitatibus. Distinctio ex quam, debitis ipsa nisi reiciendis amet quaerat quibusdam!</p>
        </div>
        <div class="texto__maior">
          <h2>Lorem 2</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio laudantium ex odit dolor fugit consequatur sit? Repellat debitis nemo quis quos dolor possimus obcaecati omnis, consequuntur recusandae tempore enim, sapiente, similique neque aliquid ipsam soluta rerum ullam animi sequi maiores atque quidem architecto. Ratione fuga vero, quos error aliquam sint!</p>
        </div>

      </div>
    </section>
  </main>
</body>
</html>



