<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./app.component.scss">
    <title>MJV School</title>
  </head>
  <body>
    <header class="cabecalho">
        <h2>Exercício Semana 1</h2>
    </header>
    <main>
      <section>
        <div>
          <h1>Introdução Lorem</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, cum obcaecati libero quidem vel modi harum voluptatem pariatur ducimus maxime ipsum similique odio suscipit rem neque, magnam perferendis officiis rerum corporis accusantium necessitatibus expedita facere nobis. Ab sint id consequatur eos in ipsam quisquam eaque vel cumque? Ipsam, at veritatis?</p>
        </div>
        <div>
        <div>
          <h2>Texto Um</h2>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae earum optio voluptates provident aut aperiam aliquid assumenda eligendi voluptatem modi, sunt, saepe ipsa iure nulla adipisci, at quas temporibus inventore distinctio sequi. Explicabo distinctio sit consequatur sed harum incidunt officiis maiores eos reprehenderit ullam sunt optio molestias sapiente recusandae quaerat, nemo earum, quas, asperiores minus in commodi voluptatibus placeat ex iste. Cumque quam repellendus ab molestiae quia laborum earum aspernatur minima possimus adipisci sunt assumenda quisquam voluptatem, laboriosam vel quos qui labore sed est sequi suscipit illo harum unde mollitia? Repellendus eius omnis amet culpa cupiditate inventore fuga blanditiis facere?</p>
        </div>
        <div>
          <h2>Texto Dois</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque iure sapiente voluptatem molestiae! Laborum esse neque totam, nostrum deleniti a nesciunt amet alias dolorum magnam nemo explicabo ratione, cupiditate ea? Numquam architecto distinctio alias? Tempora autem ducimus enim magni provident minus quod velit hic mollitia facilis molestiae voluptate dolore labore officiis, saepe deserunt quis eaque similique? Libero, delectus laborum a beatae illo dolore fuga neque, minima est officiis eligendi magni ipsum nostrum pariatur? Quasi quis dolor nobis ad, voluptatum, illo debitis nihil, exercitationem sed cupiditate rem reprehenderit dolorum provident commodi. Impedit consequuntur harum perspiciatis, laborum doloremque similique maxime soluta! Distinctio.</p>
        </div>
        <div>
          <h2>Texto Dois</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque iure sapiente voluptatem molestiae! Laborum esse neque totam, nostrum deleniti a nesciunt amet alias dolorum magnam nemo explicabo ratione, cupiditate ea? Numquam architecto distinctio alias? Tempora autem ducimus enim magni provident minus quod velit hic mollitia facilis molestiae voluptate dolore labore officiis, saepe deserunt quis eaque similique? Libero, delectus laborum a beatae illo dolore fuga neque, minima est officiis eligendi magni ipsum nostrum pariatur? Quasi quis dolor nobis ad, voluptatum, illo debitis nihil, exercitationem sed cupiditate rem reprehenderit dolorum provident commodi. Impedit consequuntur harum perspiciatis, laborum doloremque similique maxime soluta! Distinctio.</p>
        </div>
        <div>
          <h2>Texto Dois</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque iure sapiente voluptatem molestiae! Laborum esse neque totam, nostrum deleniti a nesciunt amet alias dolorum magnam nemo explicabo ratione, cupiditate ea? Numquam architecto distinctio alias? Tempora autem ducimus enim magni provident minus quod velit hic mollitia facilis molestiae voluptate dolore labore officiis, saepe deserunt quis eaque similique? Libero, delectus laborum a beatae illo dolore fuga neque, minima est officiis eligendi magni ipsum nostrum pariatur? Quasi quis dolor nobis ad, voluptatum, illo debitis nihil, exercitationem sed cupiditate rem reprehenderit dolorum provident commodi. Impedit consequuntur harum perspiciatis, laborum doloremque similique maxime soluta! Distinctio.</p>
        </div>
       </div>
      </section>
    </main>
  </body>
</html>

